.card-body-me {
    border: white;
}
.nav-me {
    margin-left: -100px;
    float: left;
    text-align: left;
}
.icons-footer {
    font-size: 40px;
    color: blue;
}
.icon-footer-container {
    text-align: center;
}
.footer-labels {
    text-align: center;
    color: white;
    font-size: 20px;
}
.footer-labels label {
    margin-left: 50px;
}
.icons-footer2 {
    font-size: 20px;
    color: white;
    margin-right: 100px;
    padding-left: 50px;
}
.footer-whole {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
}

.nav-me {
    position: absolute;
    height: 100%;
    z-index: 0;
    background: #1abc9c;
}

:root {
    --clr: #222327;
}
.icons-nav {
    font-size: 40px;
}
.navigation {
    height: 70px;
    background: blue;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.navigation ul {
    display: flex;
    width: 450px;
}
.navigation ul li {
    position: relative;
    list-style: none;
    width: 100px;
    height: 70px;
    z-index: 1;
}
.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 30px;
    text-align: center;
    transition: 0.5s;
    color: white;
}
.navigation ul li:hover a .icon {
    transform: translateY(-35px);
}
.navigation ul li a .text {
    position: absolute;
    color: white;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}
.navigation ul li:hover a .text {
    opacity: 1;
    transform: translateY(10px);
}
.div-icon {
    background-color: blue;
    border-radius: 50px;
    padding: 1px;
    height: 50px;
    width: 50px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
/* .div-icon:hover {
    background-color: blue;
    border-radius: 50px;
    padding: 1px;
    height: 50px;
    width: 50px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
} */
.hovers div-icon:hover {
    background-color: blue;
    border: solid 3px white;
    border-radius: 50px;
    padding: 1px;
    height: 50px;
    width: 50px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
/* .navigation {
    height: 70px;
    background: blue;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.navigation ul {
    display: flex;
    width: 450px;
}
.navigation ul li {
    position: relative;
    list-style: none;
    width: 100px;
    height: 70px;
    z-index: 1;
}
.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 30px;
    text-align: center;
    transition: 0.5s;
    color: white;
}
.navigation ul li.active a .icon {
    transform: translateY(-35px);
}
.navigation ul li a .text {
    position: absolute;
    color: white;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}
.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}
.div-icon-active {
    background-color: blue;
    border: solid 3px white;
    border-radius: 50px;
    padding: 1px;
    height: 50px;
    width: 50px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.div-icon {
    background-color: blue;
    border-radius: 50px;
    padding: 1px;
    height: 50px;
    width: 50px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.div-icon:hover {
    background-color: blue;
    border-radius: 50px;
    padding: 1px;
    height: 50px;
    width: 50px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
} */

.navigation-main {
    height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.nav-me-icon {
    background-color: red;
    border-radius: 50px;
    padding: 1px;
    height: 50px;
    width: 50px;
    font-size: 20px;
    color: white;
    margin-top: -30px;
    transition: 0.5s;
}
.nav-me-icon:hover {
    transform: translateY(-50px);
}
.nav-me-icon a {
    color: white;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.nav-me-icon a:hover {
    opacity: 1;
    transform: translateY(10px);
}

.navi {
    height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.navi ul {
    display: flex;
    width: 450px;
}
.navi ul li {
    position: relative;
    list-style: none;
    width: 100px;
    height: 70px;
    z-index: 1;
}
.navi ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navi ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 30px;
    text-align: center;
    transition: 0.5s;
    color: white;
}
.navi ul li:hover a .icon {
    transform: translateY(-40px);
}
.navi ul li a .text {
    position: absolute;
    color: white;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}
.navi ul li:hover a .text {
    opacity: 1;
    transform: translateY(10px);
}
.div-icon-navi {
    background-color: primary;
    border-radius: 50px;
    padding: 1px;
    height: 50px;
    width: 50px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.div-icon-navi:hover {
    background-color: blue;
    border-radius: 50px;
    padding: 1px;
    height: 50px;
    width: 50px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.drop-icon {
    transform: rotate(-0deg);
    margin-right: 5px;
}
.drop-icon:hover {
    transform: rotate(-720deg);
    transition: all 0.2s ease-in-out;
}

.icon-home:hover {
    transform: rotate(-1440deg);
    transition: all 2s ease-in-out;
}

.dropdowns {
    color: white;
    margin-top: 15px;
    display: flex;
    
}
.comp-heading {
    border: green 5px;
    background: rgba(230, 217, 217, 0.925);
    transition: transform 0.5s, box-shadow 1s;
}
.comp-heading-test {
    border: green 5px;
    background: rgba(230, 217, 217, 0.925);
    transition: transform 0.5s, box-shadow 1s;
}
.comp-heading-test:hover {
    transform: scale(1.02) perspective(0px);
    box-shadow: 0 10px 10px rgba(70, 60, 60, 0.925);
    animation: pulse-animation 11s infinite;
}
.comp-heading:hover {
    transform: scale(1.02) perspective(0px);
    box-shadow: 0 10px 10px rgba(70, 60, 60, 0.925);
}
