.Card {
    width: 20rem;
    text-align: left;
    margin-left: 100px;
    padding-left: 100px;
    background-color: black;
}
.container {
    margin-left: 100px;
    padding-left: 100px;
    text-align: left;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
}
.Card:hover {
    box-shadow: 5px 10px 20px 1px rgb(3, 3, 3) !important;
}
