/** Buttons  **/
.navbutton {
    border-radius: 10px;
    background-color: blue;
    background: none;
    border: none;
}
.navbutton:hover {
    border-bottom: 6px solid blue;
}
/** Card  **/
.card {
    border: solid;
    border-radius: 2px;
}

.border {
    border: solid;
}
.border-top {
    border-top: solid;
}
.border-bottom {
    border-bottom: solid;
}
